<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="table table-striped">
<head>
    <title>Kamerakauppa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="col-md-4">
		<h1>Lisää uusi tuote</h1>
			<form th:object="${product}" th:action="@{save}" action="#" method="post">				
				<label for="pnamel">Tuote</label>
				<input type="text" id="pname" th:field="*{name}"/>
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="pcategory">Kategoria</label>
				<input type="text" id="pcategory" th:field="*{category}"/>
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="pprice">Hinta</label>
				<input type="text" id="pprice" th:field="*{price}"/>
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="statuslist">Kunto</label>
					<select id="statuslist" th:field="*{status}">
						<option th:each="status: ${statuses}" th:value="${status.statusId}"
						th:text="${status.name}"></option>
					</select>
				
				<label for="condlist">Kuntoluokitus</label>
					<select id="condlist" th:field="*{condition}">
						<option th:each="condition: ${conditions}" th:value="${condition.conditionId}" 
							th:text="${condition.name}"></option>
					</select>
					<div style="clear: both; display: block; height: 10px;"></div>
					
				<label for="pnumber">Tuotenumero</label>
				<input type="text" id="pnumber" th:field="*{productNumber}"/>
				<div style="clear: both; display: block; height: 10px;"></div>
				
				<label for="pdescription">Kuvaus</label>
				<textarea th:field="*{description}"></textarea>
				<div style="clear: both; display: block; height: 10px;"></div>
					
					<div style="clear: both; display: block; height: 10px"></div>
					<input type="submit" value="Tallenna"></input>
					
			</form>
			</div>
		</div>
</body>
</html>