<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kamerakauppa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="max-width: 50%; margin: auto">
		<h1>Kamerakauppa</h1>
		<table>
			<tr>	
				<th>Tuote</th>
				<th>Hinta</th>
				<th>Kunto</th>
				<th>Tuotenumero</th>
				<th></th>
				<th>Muokkaus</th>
			</tr>
			
			<tr th:each = "product : ${products}">
				<td><a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.name}"></a></td>
				<td th:text=${product.price}></td>
				<td th:text="${product.status.name}"></td>
				<td th:text="${product.productNumber}"></td>
				<td></td>
				<td>
				<a th:href="@{/edit/{id}(id=${product.id})}">Päivitä</a>
				<a th:href="@{/delete/{id}(id=${product.id})}">Poista</a>			
				</td>
			</tr>
		</table>
		<p></p>
		<a href="/add" class="btn btn-primary">Lisää uusi tuote</a>
	</div>
</body>
</html>