<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="table table-striped">
<head>
    <title>Kamerakauppa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div style="max-width: 50%; margin: auto" class="container">
		<h1 th:text="${product.name} + ' - ' + ${product.category}"></h1>
		<h4 style="margin: auto" th:text="'Hinta: ' + ${product.price}"></h4>
		<a th:href="@{/order/{id}(id=${product.id})}" class="btn btn-primary">Tilaa tuote</a>
		
		<br>
		<br>
		<p style="margin: auto" th:text="'Kunto: ' + ${product.status.name}"></p>
		<p th:text="'Kuntoluokka: ' + ${product.condition.name}">Kuntoluokka:</p>
		<p th:text="'Tuotekuvaus: ' + ${product.description}">Tuotekuvaus:</p>
			
			<a class="btn btn-outline-primary" th:href="@{/home}">Takaisin etusivulle</a>
	</div>
</body>
</html>